<div class="container">
  <div class="form-container">
    <div class="title"><h3>Login</h3></div>
    <form [formGroup] = "loginForm" >
      <mat-form-field appearance="outline">
        <mat-label>Enter you Email</mat-label>
        <input matInput formControlName = "email"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Enter you Password</mat-label>
        <input type="password" matInput formControlName = "password" />
      </mat-form-field>
    </form>
    <div class="buttons-container">
      <button mat-raised-button class="login-button">
        Login
      </button>
      <p>OR</p>
      <button mat-button routerLink="/create-account"> Create Account </button>
    </div>
  </div>
</div>
